body{
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #201f1e;
  width: 97.05vw;
  margin: 0;
  
}

.logo img {
  height: 40px;
  margin-top: 0px;
}

.actions {
  display: flex;
  align-items: center;
}

.login-button button {
  background-color: hsl(0, 70%, 43%);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  right: 100px;
  margin-top: 0px;
}
.login-button button:hover {
  background-color: hsl(0, 70%, 39%);
}
.login-button button:active {
  background-color: hsl(0, 70%, 34%);
}
.divider-div{
  background-color: #323130;
  height: 1.5vh;
  width: 99.2vw;
  margin: 0;
  padding: 0;
}
.img-background{
  background-image: url("src/assets/moviesimage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  display: flex;
  z-index: 5;
  width: 99.2vw;
  
}
.lendflix-logo{
  scale: 1.1;
  display: flex;
  position: relative;
  left: 120px;
  z-index: 10;
  user-select: none;
}
.start-text{
  color: #faf9f8;
  font-weight: bold;
  font-size: 4em;
}
.start-text1{
  color: #faf9f8;
  font-weight: bold;
  font-size: 2em;
}
.start-text-container{
  width: 45vw;
  height: 50vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
.texts-container{
  display: flex;
  flex-direction: column;
}
.sign-up-text{
  text-align: center;
}
.sign-up-input{
background-color: hsla(30, 3%, 14%, 0.4);
border-radius: 5px;
width: 50%;
padding: 5px;
font-size: 1.5em;
color: white;
}
.sign-up-button{
background-color: hsl(0, 70%, 43%);
border: none;
border-radius: 5px;
transition: background-color 0.3s ease;
color: rgb(255, 255, 255);
padding: 10px 20px;
margin-left: 5px;
cursor: pointer;
font-size: 26px;
width: 30%;
scale: 0.8;
margin-top: 5px;
}
.sign-up-button:hover {
  background-color: hsl(0, 70%, 39%);
}
.sign-up-button:active {
  background-color: hsl(0, 70%, 34%);
}
.sign-up-container{
  text-align: center;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #201f1e;
  width: 97.05vw;
}
.login-card{
  background-color: hsla(30, 4%, 4%, 0.9);
  display: flex;
  width: 400px;
  height: 500px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
  text-align: center;
  
  
}
#login-logo{
  cursor: pointer;
}
#login-background{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 50px;
  text-align: center;
  width: 100vw;
}
#login-input-email{
  height: 35px;
  width: 300px;
  margin: 10px;
}
#login-input-password{
  height: 35px;
  width: 300px;
  margin: 10px;
  margin-bottom: 20px;
}
#login-text{
  margin-bottom: 40px;

}
.login-button-L{
  background-color: hsl(0, 70%, 43%);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 300px;
}
.login-button-L:hover{
  background-color: hsl(0, 70%, 38%);
}
.login-button-L:active{
  background-color: hsl(0, 70%, 33%);
}
.forgot-password-text{
  margin-top: 10px;
  color: #faf9f8;
  font-size: 1.1em;
  cursor: pointer;
}
.login-inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.log-in-input{
  background-color: hsla(30, 3%, 10%, 0.4);
border-radius: 5px;
width: 50%;
padding: 5px;
font-size: 1.5em;
color: white;

}
a{
  text-decoration: none
}
#github-icon{
  margin-left: 15px;
  width: 25px;
  height: auto;
  user-select: none;
}
#linkedin-icon{
  color: #0a66c2;
  background-color: white;
  width: 15px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  scale: 1.3;
  user-select: none;
}
#linkedin-link{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
 text-decoration-color: hsl(0, 0%, 80%);
}
.forgot-password-text:hover{
color: hsl(0, 0%, 80%);
}
.forgot-password-container{
  margin-top: 15px;
  text-align: center;
  margin-bottom: 15px;
}
#remember-user-text{
  color: #faf9f8;
  font-size: 1.1em;
  font-weight: normal;
  margin-left: 7px;
  
}
#new-member-text{
  color: #8a8886;
  font-weight: normal;
  font-size: 1.1em;
  margin-top: 15px;
  
}
.register-container-L{
  margin-top: 0px;
  text-align: left;
}
.register-text-L{
  margin-top: 5px;
  color: #faf9f8;
  font-size: 1.1em;
  cursor: pointer;
}
.register-text-L:hover{
color: hsl(0, 0%, 80%);
}
.checkbox{
  -webkit-appearance: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  font-size: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.checkbox-input{
  display: none;
}
.checkbox-box{
  width: 1em;
  height: 1em;
  background-color: hsla(30, 3%, 10%, 0.4);
	border: 1px solid hsl(205, 13%, 70%);
  transition: background-color 0.25s ease, border-color 0.25s ease;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  user-select: none;
  z-index: 10;
}
.checkbox-box::after{
  content: '\2714';
  color: #323130;
  opacity: 0;
  transition: opacity 0.25s ease;
}
.checkbox-input:checked + .checkbox-box::after{
  opacity: 1;
}
.checkbox-box:hover{
  border: 1px solid hsl(205, 13%, 100%);
  cursor: pointer;
}
.checkbox-input:checked + .checkbox-box{
  background-color: hsl(30, 4%, 86%);
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
}
.checkbox-input:checked + .checkbox-box:hover{
  background-color: #bebbb8;
}
.forgot-img-background{
  background-image: url("src/assets/moviesimage2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  display: flex;
  
}
#forgot-info{
  color: #faf9f8;
  font-size: 1.1em;
  margin-top: 40px;
  font-weight: normal;
  width: 90%;
}
#forgot-text{
  margin-top: -100px;
}
#forgot-card{
  display: flex;
  align-items: center;
  justify-content: center;
}
#forgot-input{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
}
#forgot-button{
  font-size: 1.2em;
  padding: 10px;
  width: 313px;
  background-color: #106ebe;
  color: white;
  border: none;
  border-radius: 5px;
}
#forgot-button:hover{
  background-color: hsl(208, 84%, 35%);
}
#forgot-button:active{
  background-color: hsl(208, 84%, 30%);
}
#forgot-login-button{
z-index: 10;
}

#author-site{
  font-size: 1em;
  color: #e1dfdd;
  font-weight: normal;
}
.register-img-background{
  background-image: url("src/assets/moviesimage3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  
}
#newsletter-text{
    color: #f3f2f1;
    font-size: 1.1em;
    font-weight: normal;
    margin-left: 7px;
    
}

.register-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#register-input-email{
    height: 35px;
    width: 300px;
    margin: 10px;
  
}
#register-input-password{
  height: 35px;
  width: 300px;
  margin: 10px;
  margin-bottom: 20px;
}
.register-input{
  background-color: hsla(30, 3%, 10%, 0.4);
  border-radius: 5px;
  width: 50%;
  padding: 5px;
  font-size: 1.5em;
  color: white;
  
}
#newsletter-text-container{
  max-width: 300px;
  display: inline-flex;
  z-index: 6;
}
#register-label{
  position: relative;
  left: 40px;
}
.register-button-R{
  background-color: hsl(0, 70%, 43%);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 300px;
}
.register-button-R:hover{
  background-color: hsl(0, 70%, 38%);
}
.register-button-R:active{
  background-color: hsl(0, 70%, 33%);
}
#register-text{
  margin-bottom: 40px;

}
.register-card{
  background-color: hsla(30, 4%, 4%, 0.9);
  display: flex;
  width: 400px;
  height: 500px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
  text-align: center;  
}
#register-background{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 50px;
  text-align: center;
  width: 100vw;
}
.register-button-R:disabled{
  background-color: grey;
}
.accounts-background{
  background-image: radial-gradient(#3b3a39, black);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.account-card{
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  position: relative;
}
#accounts-text{
  width: 100%;
  font-size: 2.3em;
}
.account-text-container{
 text-align: center;
 position: relative;
 top: 150px;
}
.profiles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-top: 0;
  top: 250px;
  text-align: center;
}
.account-image{
  width: 180px;
  height: 180px;
  margin-bottom: 5px;
  transition: scale 0.5s ease, border 0.5s ease, filter 0.4s ease;
  border: rgba(0, 0, 0, 0) solid 2px;
}
.account-card:not(.editing) .account-image:hover {
  scale: 1.1;
  border: white solid 2px;
}
.profile-text{
  color: white;
  font-size: 1.7em;
  text-align: center;
}
#add-icon{
  scale: 3;
  color: white;
  transition: scale 0.3s ease;
}
#edit-icon{
  scale: 2.4;
  color: white;
  transition: scale 0.3s ease;
  position: absolute;
  top: 45%;
  left: 57%;
  transform: translate(-50%, -50%);
  user-select: none;
  
}
#edit-icon:hover{
  scale: 2.6;
}
#add-icon:hover{
  scale: 3.25;
}

#edit-profile-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
  top: 300px;
  user-select: none;
}
.menu-navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #201f1e;
  width: 97.05vw;
  margin: 0;
}
.nav-options {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
}


.notification-bell{
  scale: 1.5;
  margin-left: 15px;
  color: #edebe9;
  transition: color 0.3s ease;
  user-select: none;
} 
.notification-bell:hover{
  color: hsl(30, 10%, 78%);
}
.notification-bell:active{
  color: hsl(30, 10%, 60%);
}
.profile-picture {
  width: 50px;
  height: auto;
  margin-left: 20px;
  user-select: none;
}
#unfold-icon{
  scale: 0.7;
  color: #f3f2f1;
  user-select: none;
  transition: transform 0.2s ease;
}
.nav-options span{
  position: relative;
  left: 75px;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-text-options{
  font-size: 0.9em;
  color: white;
  transition: color 0.3s ease;
  user-select: none;
  z-index: 11;
}
.nav-text-options:hover{
  color: hsl(0, 0%, 75%);
}
.nav-text-options:active{
  color: hsl(0, 0%, 65%);
}
#search-icon{
  scale: 1.3;
  color: #f3f2f1;
  user-select: none;
  margin-right: 10px;
  transition: color 0.3s ease;
  
}
#search-icon:hover{
  color: hsl(30, 8%, 85%);
}
#search-icon:active{
  color: hsl(30, 8%, 75%);
}
.search-bar {
  padding: 5px;
  font-size: 1em;
  margin-right: 15px;
  opacity: 0;
  transition: opacity 0.3s;
  user-select: none;
  background-color: hsla(30, 3%, 24%, 0.4);
border-radius: 5px;
padding: 5px;
font-size: 1em;
color: white;
}
.search-vis{
  opacity: 1;
  user-select: text;
}
#notifications-count-container{
  position: relative;
  bottom: 10px;
  right: 5px;
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#notifications-count{
  color: hsl(0, 0%, 95%);
  font-size: 0.85em;
  user-select: none;
}
#edit-profile-button{
  box-sizing: border-box;
  border: #bebbb8 solid 2px;
  border-radius: 5px;
  color: #bebbb8;
  background-color: #292827;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 1.5em;
  width: 200px;
  transition: scale 0.4s ease;
}
#edit-profile-button:hover{
  scale: 1.1;
}
#finished-button{
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  color: #1b1a19;
  background-color: #faf9f8;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 1.7em;
  width: 150px;
  transition: scale 0.4s ease;
  font-weight: bold;
}
#finished-button:hover{
  scale: 1.1;
}
.darker-image{
  filter: brightness(60%);
}
.menu-background{
  width: 99.2vw;;
  background-color: #201f1e;
  margin: 0;
  overflow: hidden;
}
#popular-movies{
  padding: 10px;
  margin-left: 30px;
}
#new-movies{
  padding: 10px;
  margin-left: 30px;
}
.movies-section{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  height: 235px;
margin-bottom: 40px;
margin-left: 80px;
}
.movies-section-container{
  background-color: #1b1a19;
}
.movie-tile-image{
  box-sizing: border-box;
  width: 150px;
  height: 200px;
  display: flex;
  border-radius: 4px;
  transition: scale 0.4s ease, filter 0.4s ease;
}
.movie-image-container{
  box-sizing: border-box;
  width: 150px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-tile-first{

}

.movie-image-container:hover .movie-tile-image{
  scale: 1.15;
  cursor: pointer;
}
.movie-image-container:active .movie-tile-image{
  filter: brightness(70%);
}
.fill-container{
  width: 99vw;
  height: 4vh;
}
#edit-background{
  background-image: radial-gradient(#3b3a39, black);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-edit-card{
  background-color: #201f1e;
  display: flex;
  flex-direction: column;
  
  width: 30%;
  height: 60%;
  border-radius: 15px;
}
#edit-profile-title{
  font-size: 2.2em;
  font-weight: 500;
}
.initial-text-container{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 35px;
  align-items:flex-start;
  height: 27%;
  width: 90%;
  margin-bottom: 10px;
  
}
#edit-image-title{
font-size: 1.4em;
}
#edit-images-container{
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.edit-img{
  box-sizing: border-box;
  width: 90px;
  height: 90px;
  transition: scale 0.4s ease, filter 0.2s ease;
}
.edit-img:hover{
  scale: 1.1;
}
.edit-img:active{
  filter: brightness(90%);
}
.img-clicked{
  border: white solid 2px;
}
#edit-page-input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
#edit-input{
  border: #a19f9d solid 1px;
  scale: 1.2;
}
#save-edit-changes-container{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#delete-cancel-container{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
.edit-button{
  background-color: hsla(0, 0%, 0%, 0);
  border: #d2d0ce solid 2px;
  border-radius: 5px;
  transition: border-color 0.3s ease, color 0.3s ease;
  color: #d2d0ce; 
  padding: 10px 15px;
  cursor: pointer;
  font-size: 24px;
}
.edit-button:hover {
 border-color: #a19f9d;
 color: #a19f9d; 
}
.edit-button:active {
  border-color: #797775;
  color: #797775; 
}
#edit-button-1{
width: 35%;
}
#edit-button-2{
  width: 150px;
}
#edit-button-3{
  width: 30%;
}
.hidden-div{
  background-color: #f3f2f1;
  width: 190px;
  position: absolute;
  right: 20px;
  top: 72px;
  display: flex;
  flex-direction: column;
  z-index: 12;
}
.left-button{
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: hsla(0, 0%, 10%, 0.6);
  height: 21%;
  width: 3%;
  align-items: center;
  left: 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.25s ease;
}
.left-button:hover{
  opacity:1
}
.right-button{
  position: absolute;
  background-color: hsla(0, 0%, 10%, 0.6);
  display: flex;
  height: 21%;
  right: 0px;
  width: 3%;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.25s ease;
}
.right-button:hover{
  opacity:1
}
.hovered-visible-button{
  opacity: 1;
}
.unfold-profiles-list-item{
  margin: 0;
  padding: 5px;
  font-size: 1.3em;
  width: 90%;
  display: flex;
  justify-content: left;
  margin-left: 10px;
  align-items: center;
}
.hidden-div ul{
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  margin: 0;
  align-items: flex-start;
}
.rotate180{
  transform: rotate(180deg);
}
#profile-unfold img:hover{
cursor: pointer;
}
#unfold-icon:hover{
  cursor: pointer;
}
.menu-profile-hidden-div-image{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.unfold-profiles-icon{
  color: black;
  margin-right: 15px;
  margin-left: 5px;
}
.hidden-div:hover{
  cursor: pointer;
}
#unfold-profiles-edit-last-anchor{
  margin-bottom: 7px;
}
.unfold-profiles-manage-text:hover{
  text-decoration: underline;
  text-decoration-color: black;
}
.unfold-profiles-username-text:hover{
  text-decoration: underline;
  text-decoration-color: black;
}
#unfold-li1{
  margin-top: 7px;
}
.hidden-div ul li a{
  text-decoration: none;
}
.unfold-background{
  background-color: #201f1e;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.link-navigation-menu:hover {
  text-decoration: none;
}











@media (max-width: 768px) {
  .start-text-container .start-text{
    font-size: 40px;
  } 
  .sign-up-text .start-text1{
    font-size: 20px;
  }
  body{
    display: flex;
  }
  #index-page-sign-up-button{
    width: 200px;
  }
  .smaller-screens-container-index{
    background-color: rgba(0, 0, 0, 0.403);
  }
  .forgot-img-background{
    display: flex;
  background-position: 0px;
  }
  #index-header{
    display: flex;
  }
  #header-login-button{
    left: -40px;
  }
  .lendflix-logo{
    left: 40px;
  }
  #forgot-login-button{
    left: -40px;
  }
}
@media (max-width: 480px) {
  .start-text-container .start-text{
    font-size: 40px;
  } 
  .sign-up-text .start-text1{
    font-size: 20px;
  }
  body{
    display: flex;
  }
  #index-page-sign-up-button{
    width: 200px;
  }
  .smaller-screens-container-index{
    background-color: rgba(0, 0, 0, 0.403);
  }
  #background-img-index{
  display: flex;
  background-position: -500px;
  }
  #start-text-container-index{
    background-color: rgba(0, 0, 0, 0.303);
    width: 290px;
    height: 300px;
    margin-bottom: 100px;
  }
  #login-img-background{
    display: flex;
  background-position: -500px;
  }
  .forgot-img-background{
    display: flex;
  background-position: 0px;
  }
  #header-login-button{
    margin-left: 20px;
    width: 150px;
    left: -40px;
  }

  .lendflix-logo{
    left: 20px;
  }
  
}